@import '~src/variables';

section {
	height: calc(100vh - #{$hHeader});
}

.teste {
	position: relative;
	padding: 0 15px;
	z-index: 1 !important;
}

.teste::after {
	content: '';
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	background: $orange;
	transform: skewX(-10deg);
	top: 0;
	left: 0;
}
