<footer
	class="section bg-lightMode-100 dark:bg-darkMode-100 text-lightMode-font-primary dark:text-darkMode-font-primary flex transicao"
>
	<div class="footer w-full">
		<div class="top-area myContainer">
			<div class="title">Sotel.artDesign</div>
			<div class="separator"></div>
			<div class="centraliza gap-8">
				<p class="text-center">Conectando ideias, damos cara e voz aos mais diversos projetos</p>
				<button class="btn btn-primary">Entre em contato <i class="uil uil-message pl-2"></i></button>
			</div>
		</div>
		<div
			class="bottom-area myContainer border-t-2 border-lightMode-300 bg-lightMode-200 dark:bg-darkMode-200 dark:border-darkMode-300 text-lightMode-font-secundary dark:text-darkMode-font-secundary"
		>
			<div class="flex flex-wrap gap-5">
				<i class="uil uil-whatsapp text-3xl transition-colors hover:text-[#25d366] active:text-[#25d366]"></i>
				<i class="uil uil-facebook-f text-3xl transition-colors hover:text-[#4267B2] active:text-[#4267B2]"></i>
				<i class="uil uil-instagram text-3xl transition-colors hover:text-[#E1306C] active:text-[#E1306C]"></i>
			</div>
			<div class="flex text-center text-sm">
				<span>© Copyright 2022 - Sotel.Design - Todos os direitos reservados.</span>
			</div>
		</div>
	</div>
</footer>
