<footer class="section bg-white dark:bg-dark-800 text-black dark:text-white flex transicao">
	<div class="myContainer footer">
		<div class="top-area">
			<div class="title">Sotel.artDesign</div>
			<div class="separator"></div>
			<div>Lorem ipsum dolor sit amet.</div>
		</div>
		<div class="middle-area">
			<div class="title">middle</div>
			<div class="separator"></div>
			<div class="textcenter">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum incidunt amet quisquam fugit praesentium
				natus dolorum ad sit illum quod!
			</div>
		</div>
		<div class="bottom-area">
			<div class="flex flex-wrap gap-5">
				<i class="uil uil-whatsapp text-3xl transition-colors hover:text-[#25d366] active:text-[#25d366]"></i>
				<i class="uil uil-facebook-f text-3xl transition-colors hover:text-[#4267B2] active:text-[#4267B2]"></i>
				<i class="uil uil-instagram text-3xl transition-colors hover:text-[#E1306C] active:text-[#E1306C]"></i>
			</div>
		</div>
	</div>
</footer>
