<footer class="section bg-white dark:bg-dark-800 text-black dark:text-white flex transicao">
	<div class="myContainer footer">
		<div class="top-area">
			<div class="title">Sotel.artDesign</div>
			<div class="separator"></div>
			<div>Lorem ipsum dolor sit amet.</div>
		</div>
		<div class="bottom-area">
			<div class="title">baixo</div>
			<div class="separator"></div>
			<div class="textcenter">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum incidunt amet quisquam fugit
				praesentium natus dolorum ad sit illum quod!
			</div>
		</div>
	</div>
</footer>
