<section class="section bg-lightMode-100 dark:bg-darkMode-100 text-darkMode-font-primary transicao">
	<div class="myContainer">
		<div class="texts">
			<span class="title marked" style="--color: #fc801e">Skills</span>
			<p class="paragraph text-lightMode-font-primary dark:text-darkMode-font-primary">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi est dolore saepe? Quae laborum
				ut eaque corrupti, ducimus eveniet fuga!
			</p>
		</div>
		<div class="skills">
			<div class="skill">
				<h1 class="title">Indentidades Visuais</h1>
				<div class="card"></div>
			</div>
		</div>
	</div>
</section>
