.form-body {
	display: grid;
	width: 100%;
	gap: 0.8rem;

	label {
		margin-left: 0.8rem;
	}

	.message-area {
		font-size: 0.8rem;
		resize: vertical;
		min-height: 8rem;
		width: 100%;
		border-radius: 1rem;
		border-collapse: collapse;
		border: none !important;
	}

	.btn-wrapper {
		display: flex;
		justify-content: center;
		gap: 0.8rem;

		.e-mail,
		.zap {
			border-width: 1px;
			border-color: #0000;
		}

		.zap:where(:hover, :active) {
			border-color: #25d366;
		}

		.e-mail:where(:hover, :active) {
			border-color: #c71610;
		}
	}
}
