$mobHeader: 55px;
$deskHeader: 70px;
$font-primary: 'Poppins', sans-serif;
$font-secundary: 'Cheque Regular', sans-serif;
$font-secundary-bold: 'Cheque Black', sans-serif;
$primary-orange: #fc7810;
$secundary-orange: #fc801e;

$darkMode-font-primary: #f1ffff;
$darkMode-font-secundary: #c9d1d9;
$darkMode-neonBlue: #38bdf8;
$darkMode-100: #121212;
$darkMode-200: #23272a;
$darkMode-300: #818181;

$lighMode-font-primary: #0f172a;
$lighMode-font-secundary: #475569;
$lighMode-neonBlue: #0ea5e9;
$lighMode-100: #ffffff;
$lighMode-200: #f2f2f2;
$lighMode-300: #cccccc;
