@import '~src/variables';

.header {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: $mobHeader;
	z-index: 10;

	.fix {
		position: fixed;
		bottom: 0;
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: $mobHeader;
		padding: 0 20px;

		.desktop-header,
		.header-child {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;
		}

		.desktop-header {
			display: none;
		}

		.header-child {
			cursor: pointer;

			#sun,
			#moon {
				transition: all 0.3s ease-in-out;
			}

			&.active #sun {
				transform: rotate(90deg) scale(0);
				opacity: 0;
			}

			&:not(.active) #moon {
				transform: rotate(-90deg) scale(0);
				opacity: 0;
			}

			#abreMenu {
				transition: all 0.3s ease-in-out;
			}
		}
	}
}

.sub-menu {
	position: fixed;
	bottom: -250px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 250px;
	padding: 20px;
	border-radius: 0.75rem 0.75rem 0 0;
	z-index: 9;
	transition: bottom 0.5s ease-in-out;

	&.active {
		bottom: $mobHeader;
	}

	.content {
		max-width: 550px;
		width: 100%;
		height: 100%;

		.sub-child {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			flex-direction: column;
			user-select: none;
			border-radius: 30px;
			transition: background-color 0.125s ease-out;
			cursor: pointer;

			hero-icon {
				height: 2rem;
				width: 2rem;
			}

			&:hover,
			&:active {
				background-color: $darkMode-300;
			}
		}
	}
}

@media (min-width: 850px) {
	.header {
		top: 0;
		height: $deskHeader;
		width: 100vw;
		box-shadow: 0 -1px 8px rgba($color: #000000, $alpha: 0.3);
		display: flex;
		justify-content: center;

		.fix {
			top: 0;
			height: $deskHeader;
			padding: 0 40px;

			.desktop-header {
				display: flex;
				gap: 25px;
				padding-right: 24px;
				cursor: pointer;
				user-select: none;

				h1 {
					font-weight: 300;
					transition: color 0.125s ease-out;

					&:hover {
						color: $secundary-orange;
					}
				}
				.select {
					font-weight: 400;
					color: $primary-orange;

					&:hover {
						color: $secundary-orange;
					}
				}
			}

			.header-child {
				#abreMenu {
					display: none;
				}
			}
		}
	}
	.sub-menu {
		display: none;
	}
}

.selected {
    color: $secundary-orange;
}