@import '~src/variables';

.header {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: $hHeader;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	z-index: 10;

	.header-child {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;

		#sun,
		#moon {
			transition: all 0.3s ease-in-out;
		}

		&.active #sun {
			transform: rotate(90deg) scale(0);
			opacity: 0;
		}

		&:not(.active) #moon {
			transform: rotate(-90deg) scale(0);
			opacity: 0;
		}

		#abreMenu {
			transition: all 0.3s ease-in-out;
		}
	}
}

.sub-menu {
	position: fixed;
	bottom: -250px;
	width: 100vw;
	height: 250px;
	padding: 20px;
	border-radius: 0.75rem 0.75rem 0 0;
	z-index: 9;
	transition: bottom 0.5s ease-in-out;

	&.active {
		bottom: $hHeader;
	}

	.sub-child {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;

		hero-icon {
			height: 2rem;
			width: 2rem;
		}
	}
}
