<header>
	<div
		class="header bg-lightMode-100 dark:bg-darkMode-100 text-lightMode-font-primary dark:text-darkMode-font-primary transicao"
	>
		<div class="myContainer fix">
			<div>Sotel.ArtDesign</div>
			<div class="desktop-header">
				<h1 (click)="redirectTo('home')">Home</h1>
				<h1 (click)="redirectTo('skills')">Habilidades</h1>
				<h1 (click)="redirectTo('about')">Sobre</h1>
				<h1 (click)="redirectTo('feedback')">Testemunhas</h1>
			</div>
			<div class="header-child">
				<hero-icon
					id="sun"
					(click)="toggleDarkmode()"
					name="sun"
					hostDisplay="inlineBlock"
					type="outline"
					class="w-6 h-6 text-lightMode-neonBlue dark:text-darkMode-neonBlue"
				></hero-icon
				><hero-icon
					id="moon"
					(click)="toggleDarkmode()"
					name="moon"
					hostDisplay="inlineBlock"
					type="outline"
					class="w-6 h-6 absolute text-lightMode-neonBlue dark:text-darkMode-neonBlue"
				></hero-icon>
				<hero-icon
					id="abreMenu"
					(click)="openCloseMenu()"
					name="chevron-up"
					hostDisplay="inlineBlock"
					type="outline"
					class="w-6 h-6"
				></hero-icon>
			</div>
		</div>
	</div>
	<div class="sub-menu bg-lightMode-200 dark:bg-darkMode-200 dark:text-darkMode-font-secundary">
		<div class="content grid grid-rows-2 grid-cols-2">
			<div (click)="redirectTo('home')" routerLink="" routerLinkActive="select" class="sub-child">
				<hero-icon name="home" hostDisplay="inlineBlock" type="outline"></hero-icon>
				<h1>Home</h1>
			</div>
			<div (click)="redirectTo('skills')" routerLink="skills" routerLinkActive="select" class="sub-child">
				<hero-icon name="document-text" hostDisplay="inlineBlock" type="outline"></hero-icon>
				<h1>Habilidades</h1>
			</div>
			<div (click)="redirectTo('about')" routerLink="about" routerLinkActive="select" class="sub-child">
				<hero-icon name="user" hostDisplay="inlineBlock" type="outline"></hero-icon>
				<h1>Sobre</h1>
			</div>
			<div (click)="redirectTo('feedback')" routerLink="feedback" routerLinkActive="select" class="sub-child">
				<hero-icon name="user-group" hostDisplay="inlineBlock" type="outline"></hero-icon>
				<h1>Testemunhas</h1>
			</div>
		</div>
	</div>
</header>
