<section
	class="bg-lightMode-200 dark:bg-darkMode-200 text-lightMode-font-primary dark:text-darkMode-font-primary transicao"
>
	<div class="myOtherContainer px-5">
		<div class="myContainer">
			<h1>
				Peça a sua nova <br />
				<b>Identidade Visual</b>
			</h1>
			<p>Entre em contato comigo e tenha um desconto de <b>30%</b> na sua primeira compra</p>
			<button class="btn btn-primary">Entre em contato <i class="uil uil-message pl-2"></i></button>
		</div>
		<div class="img">
			<img src="./assets/images/cuie.png" alt="cuié" />
		</div>
	</div>
</section>
